.iegm-body{background:linear-gradient(45deg, #fff 0%, #fff 100%);background-size:245% 245%;height:100%;width:100%;animation:background 6s ease infinite;padding:0px 20px}@keyframes background{0%{background-position:0% 50%}50%{background-position:100% 50%}100%{background-position:0% 50%}}.slide-box-1{position:relative;top:170px;color:#fff}.slide-box-2{position:relative;top:300px;color:#fff}.slide-box-3{position:relative;top:230px;color:#fff}.slide-box-1 p,.slide-box-2 p,.slide-box-3 p{font-size:18px}.slide-box-1 h2,.slide-box-2 h2,.slide-box-3 h2{font-size:42px}.shadow-body{background-color:rgba(0,0,0,0.2)}.iegm-map{height:299px;width:100%}.form-group label{margin-top:10px}footer{background-color:transparent;border-color:transparent;padding-top:14px;color:#fff}.fa-facebook-official,.fa-instagram,.fa-twitter-square{font-size:22px}.footer-iegm{position:absolute;top:93%;left:8%}a,a:hover,a:link{text-decoration:none;color:inherit}body{font-size:13px;}.iegm-content{background-color:#F8F8F8;padding:20px;text-align:justify;border-radius:15px;margin-top:20px}.up-iegm{z-index:3}.hr-iegm{margin-top:5px;margin-bottom:5px;border:0;border-top:1px solid #fff;z-index:3}.box-iegm{background-color:#337AB7;padding:5px;border-radius:5px;color:#fff;text-align: center;}.navbar{margin-bottom:0px;z-index:3}.navbar-default{background-color:transparent;border-color:transparent}.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#fff}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{background-color:transparent;color:#fff}@media (min-width: 768px){.navbar-collapse.collapse{margin-top:2px;font-size:15px}.navbar{border-radius:0px}.navbar-nav>li>a{padding-top:17px;padding-bottom:13px}}.box-menu{position:relative;vertical-align:middle;color:#fff;display:inline-block;height:60px;line-height:60px;text-align:center;transition:0.5s;cursor:pointer;-webkit-transition:0.5s}.box-menu:hover{border:2px solid rgba(0,160,80,0);color:#FFF}.box-menu::before,.box-menu::after{width:100%;height:100%;content:'';position:absolute;left:0;box-sizing:border-box;-webkit-transform:scale(0);transition:0.5s}.curmudgeon::before{border-bottom:3px solid #fff;border-left:0;-webkit-transform-origin:0% 100%}.curmudgeon::after{border-top:0;border-right:0;-webkit-transform-origin:50% 50%}.box-menu:hover::after,.box-menu:hover::before{-webkit-transform:scale(1)}@media (max-width: 767px){.navbar-nav .open .dropdown-menu{background-color:#fff;padding:9px}}.navbar-default .navbar-toggle{border-color:#fff}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.access-user{color:#fff;margin-bottom:0px;margin-top:4px;font-size:14px}.slideshow{background:#000}.slideshow,.slideshow .iegm-slide{position:fixed;top:0;left:0;width:100%;height:100%}.slideshow .iegm-slide{background-position:center;background-size:cover;opacity:0}.slideshow .iegm-slide.previous{z-index:1;opacity:1}.slideshow .iegm-slide.current{z-index:2;animation:fadein 5000ms linear both}@keyframes fadein{0%{opacity:0}30%{opacity:1}100%{opacity:1}}
/*# sourceMappingURL=style.css.map */

.conteudo {
  min-height: calc(100vh - 50px);
}

.rodape {
  height: 50px;
}
.color-menu {
	background: #337AB7;
}

.select-course{
	margin-top: 9px;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}
